extends ./layout.jade
block contenido
  .header-container
    .header-box.header-title
      .box-desc
        h1 Bachillerato internacional
        button.shw-btn Ver Más #[i.fas.fa-chevron-down]
    .header-box.header-img-c
  .container
    .container-content
      h2 Certificación internacional
      p Nuestra escuela, ofrece como propuesta optativa el Programa de Diploma de Bachillerato Internacional, que consiste en una oferta académica de excelencia con Certificación Internacional.
      p Un alumno que lleve adelante el BI, y supere las evaluaciones, obtendrá 2 títulos: el de Bachillerato (nacional) o Bachillerato Bilingüe y, el Diploma del Bachillerato Internacional, de amplio reconocimiento y aceptación en la mayor parte de las universidades europeas y americanas. El BI se caracteriza por ser un riguroso programa educativo que se estudia en forma bilingüe en los 2 últimos años del Secundario y, prepara a los estudiantes en el rigor de la vida universitaria.

    
