extends ./layout.jade
block contenido
  .header-container
    .header-box.header-title
      .box-desc
        h1 Nuestra historia
        button.shw-btn Ver Más #[i.fas.fa-chevron-down]
    .header-box.header-img-c
  .container
    .container-content
      h2 Comienzos
      hr
      p Esta Escuela se crea el 1 de abril de 1947 como Escuela de Perfeccionamiento para Mujeres. A su vez, se dan cursos de aprendizaje profesional de Cocina, Corte y Confección y de Práctica Fabril Comercial.
      p En el año 1950 se dejan de dictar los cursos de cocina y costura y se va delineando la futura especialidad con ciclos relacionados con o comercial: Impuestos, Técnica Bancaria y Dibujo Publicitario. El edificio escolar de aquella época era una vieja casona de dos plantas, con salones corridos que daban a una galería.
      p En el año 1966 se crea el Ciclo de Práctica Comercial. Y en 1969 se implementa el Ciclo Superior de Administración de Empresas. A partir de ese momento se construye el nuevo edificio con cuatro plantas en diferentes niveles, dotado de microcine, dos laboratorios y un salón para el Gabinete Contable.
      p En 1977 todavía la población era mayoritariamente femenina con la incorporación de algunos varones. Sin embargo, los varones igualaron a las mujeres en poco tiempo: el ingreso directo a la Facultad de Ciencias Económicas de la UBA era un buen aliciente para el año de más que cursaban. En la actualidad dicho ingreso directo fue eliminado y la población escolar es mayoritariamente masculina.
      
      h2 Cambios Importantes
      hr
      p En el año 1983 se crea el Sistema Dual en Administración de Empresas. Algunos estudiantes deciden al final del primer ciclo iniciar una experiencia compartida entre el mundo del trabajo y la escuela, subsistiendo ambos sistemas hasta el año 2001. En dicho año, y en el marco de la crisis socioeconómica por la que atravesaba el país, eran numerosas las dificultades para encontrar instituciones en las que los alumnos pudieran desarrollar su práctica laboral, se cierra el plan.
      p En el año 1989 se cambia el Ciclo de Práctica Comercial por el Ciclo Básico de Orientación Administrativa poniéndonos en igualdad de condiciones con el plan de estudio de todas las escuelas técnicas de cualquier especialidad. El aumento de la carga horaria que este cambio implicó tuvo lugar en el mismo espacio físico en el que hasta ese momento la escuela desarrollaba su actividad. En la actualidad, el aumento de la matrícula sumado a la carga horaria incrementada genera una superposición horaria entre los tres turnos, lo que trae aparejado problemas de desplazamiento y seguridad para toda la comunidad educativa.
      p En el año 2002 se crea la especialidad de Técnico en Computación, desarrollando sus actividades exclusivamente en el turno noche debido a la falta de espacio físico en los turnos mañana y tarde.
      
      h2 Actualidad
      hr
      p En la actualidad nuestra institución funciona en los 3 turnos (7.45 a 23.05 horas interrumpidamente) con una población total de 1200 alumnos. En el turno mañana y tarde se desarrolla el Ciclo Básico y el Ciclo Superior de Administración de Empresas con un total de 42 divisiones y en el turno noche el ciclo básico, ciclo superior de Administración de Empresas y Técnico en Computación, además del curso de especialización de Técnica Bancaria y del curso de Alemán como asignatura extracurricular.
