extends ./layout.jade
block preload
  include ./partials/preload.jade
block contenido
  main(data-barba="container" data-barba-namespace="inicio")
    .block-slider
      .slider-img
      .slider-content.row
        img(src="../public/images/logo.png", alt="Logo")
        h1 
          span E.T. 24 D.E. 17
        h2 
          span Defensa de Buenos Aires
      .showmore-btn
        span #[i.fas.fa-chevron-down]
    .block
      .content-desc.row
        h1.title ¿Que caminos ofrecemos?
        p En la Escuela Técnica 24, les ofrecemos a los/as alumnos/as la posibilidad de elegir su tecnicatura a cursar a partir del 3° año, ya habiendo transitado el Ciclo Básico, que les brindará una introducción a cada especialidad y los ayudará a decidir de que manera desean continuar el desarrollo de su educación.
        p Estos son los dos caminos que todo alumno/a podrá tomar:
      .cards-container.center-items
        .obj-box
          img(src="./public/images/gabinete.jpg", alt="Estudiantes")
          .obj-tit
            i(class="fas fa-angle-up")
            h1 Computación
            p Con esta especialidad, el/la alumno/a se adentrara en el mundo del mañana: el mundo de la tecnología. Aprendiendo desde lo más básico (pseudolenguajes de programación, manejo de variables, condicionales básicos, entre otros) hasta lo más profesional (programación orientada a objetos, robotica, análisis de sistemas, entre otros).
            a.c-btn(href="/institucional/especialidades/computacion") Ver mas
          .shadow
        .obj-box
          img(src="./public/images/aula.jpg", alt="Abolición al machismo")
          .obj-tit
            i(class="fas fa-angle-up")
            h1 A.D.E.
            p La administración de empresas es la disciplina de gestión eficiente y dinámica de los recursos de una institución empresarial para lograr y mantener la sostenibilidad de su crecimiento. Es una disciplina transversal que prepara a sus estudiantes para el manejo y compresión de las situaciones administrativas, financieras, económicas y laborales.
            a.c-btn(href="/institucional/especialidades/ade") Ver mas
          .shadow
    .block.img-vision
      .content-desc.row
        h1.title ¿Cual es nuestra visión?
        p Durante 73 años, buscamos no solo enseñar los valores que toda persona debe tener, tales como responsabilidad, generosidad, compromiso, honestidad, entre otros, sino que también nos enfocamos en preparar de la mejor manera a nuestro futuro: los alumnos y las alumnas. Queremos que cuando el/la estudiante finalize su camino por la E.T. 24 haya aprendido todo lo necesario para enfrentar el mundo del mañana y encaminarse a las nuevas etapas que se aproximan en su vida.
    .block
      .content-desc.row
        h1.title ¿Cuales son nuestros objetivos?
        p Como escuela queremos conseguir que cada uno/a de los/as estudiantes que pase por nuestra institución, no solo egrese con nuevos saberes adquiridos y preparado/a para encarar su carrera laboral, sino que también listo/a para tener una inserción correcta en la sociedad y con las herramientas para defender sus derechos dentro de ella.
        p Estos son los principales saberes que queremos desarrollar en nuestros alumnos y nuestras alumnas:
      .cards-container.center-items
        .obj-box
          img(src="./public/images/estudiantes.jpg", alt="Estudiantes")
          .obj-tit
            i(class="fas fa-angle-up")
            h1 Desarrollar conciencia crítica
            p Preparamos a nuestros alumnos y alumnas para que desarrollen una conciencia crítica frente a las situaciones que ponen en riesgo los derechos y las condiciones de vida de sus semejantes.
          .shadow
        .obj-box
          img(src="./public/images/machismo.jpg", alt="Abolición al machismo")
          .obj-tit
            i(class="fas fa-angle-up")
            h1 Desarrollar conciencia crítica
            p Preparamos a nuestros alumnos y alumnas para que desarrollen una conciencia crítica frente a las situaciones que ponen en riesgo los derechos y las condiciones de vida de sus semejantes. De esta manera, su posicionamiento y sus primeras interacciones con el mundo real (fuera de la escuela) no serán del todo frustrantes para el/la joven y podrá desarrollarse satisfactoriamente.
          .shadow
        .obj-box
          img(src="./public/images/bandera.png", alt="Bandera Argentina")
          .obj-tit
            i(class="fas fa-angle-up")
            h1 Promover el amor por la patria y la libertad
            p Fomentamos el amor a la patria, el sentido de libertad para la democracia y la responsabilidad social. Buscamos formar en los/as alumnos/as un sentido ético y moral que los/as lleve a ser mejores ciudadanos/as, celebrando las fechas patrias, enseñando los símbolos patrios y promoviendo el amor por nuestros próceres, así como también enseñando la historia política de nuestra nación y desarrollando el sentido de participación ciudadana.
          .shadow
    .block
      .content-desc.row
        h1.title ¿Que valores comparte nuestra institucion?
        p Consideramos que tanto el equipo docente, como los/as alumnos/as, deben compartir una serie de valores para convivir en un ámbiente donde puedan sentirse seguros/as y en paz. Sin lugar a dudas, el transitar de la educación se vuelve mucho mas ameno y efectivo cuando estos se cumplen. 
        p Estos son los valores que fomentamos y con los que formaremos a los/as estudiantes:
      .cards-container.center-items
        .val-box
          .obj.box
            .val-tit
              h1 Compromiso Social
            i(class="fas fa-comment")
        .val-box
          .obj.box
            .val-tit
              h1 Compañerismo
            i(class="fas fa-users")
        .val-box
          .obj.box
            .val-tit
              h1 Respeto
            i(class="fas fa-handshake")
        .val-box
          .obj.box
            .val-tit
              h1 Solidaridad
            i(class="fas fa-people-carry")
