extends ./layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="inicio")
    .block-slider
      .slider-img
      .slider-content.row
        h1 
          span E.T. 24 D.E. 17
        h2 
          span Defensa de Buenos Aires
      .showmore-btn
        span #[i.fas.fa-chevron-down]
    .block
      .content-desc.row
        h1.title ¿Que caminos ofrecemos?
        //- p Nuestro colegio, al igual que muchas otras escualas tecnicas, ofrece a los alumnos a partir del 3° año la posibilidad de elegir la tecnicatura a cursar, en nuestro caso particular, les damos a elegir entre:
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .cards-container.row
        .card
          .card-img#inf-img
            h1 Computación
            img(src="../public/images/gabinete.jpg")
          .card-c
            h1 Computación
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.nt, sunt in culpa qui officia deserunt mollit anim id est laborum.
            button(type="button") Ver mas #[i.fas.fa-chevron-down]
        .card
          .card-img#ade-img
            h1 A.D.E.
            img(src="../public/images/aula.jpg")
          .card-c
            h1 A.D.E.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.nt, sunt in culpa qui officia deserunt mollit anim id est laborum.
            button(type="button") Ver mas #[i.fas.fa-chevron-down]
    .block
      .content-desc.row
        h1.title ¿Cual es nuestra visión?
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. LOLUt enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. LOLDuis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .block
      h1.title Nuestros Objetivos
      .cards-container
        .obj-box
          .obj-tit
            h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          img(src="./public/images/estudiantes.jpg", alt="Estudiantes")
        .obj-box
          .obj-tit
            h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          img(src="./public/images/machismo.jpg", alt="Abolición al machismo")
        .obj-box
          .obj-tit
            h1 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
          img(src="./public/images/aulamod.jpg", alt="Aulas modernas")
