extends ./layout.jade
block contenido
  #swup.transition-fade
    .slider
      ul
        li 
          img(src="../public/images/aula.jpg" alt="Aula")
        li 
          img(src="../public/images/patio.jpg" alt="Patio")
        li 
          img(src="../public/images/gabinete.jpg" alt="Gabinete")
        li 
          img(src="../public/images/patioint.jpg" alt="Patio Cubierto")
    .news-content
      .news-row
        .news
          i(class="far fa-newspaper")
          img(src="./public/images/aula.jpg", alt="Aula")
          .news-desc
            h1 Vuelta a Clases
            .news-paragraph
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .news
          i(class="far fa-newspaper")
          img(src="./public/images/aulamod.jpg", alt="Aulas Modernas")
          .news-desc
            h1 Aulas Modernas
            .news-paragraph
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .news
          i(class="far fa-newspaper")
          img(src="./public/images/patioint.jpg", alt="Patio Interno")
          .news-desc
            h1 Instalaciones
            .news-paragraph
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .news-row
        .news
          i(class="far fa-newspaper")
          img(src="./public/images/machismo.jpg", alt="Propaganda")
          .news-desc
            h1 Compromiso Social
            .news-paragraph
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .news
          i(class="far fa-newspaper")
          img(src="./public/images/patio.jpg", alt="Patio Externo")
          .news-desc
            h1 Nuevas Capacitaciones
            .news-paragraph
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .news
          i(class="far fa-newspaper")
          img(src="./public/images/estudiantes.jpg", alt="Estudiantes")
          .news-desc
            h1 Compañerismo
            .news-paragraph
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
