doctype
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, user-scalable=no")
    title Pagina Et24
    link(rel="stylesheet", href="../public/css/layout.css", attr)
    link(rel="stylesheet", href="../public/css/responsiveness.css", attr)
    link(href="https://fonts.googleapis.com/css2?family=Alata&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;400;600;700&display=swap" rel="stylesheet")
    script(src="https://kit.fontawesome.com/a2b3ccd4c2.js" crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous")
    script(src="../public/js/header.js")
  body
    .banner
      a.main-title(href="/") #[h1 E.T. N°24]
      h3.title-desc "Defensa de Buenos Aires"
    .header
      .navigation
        .logo
        .nav-links
          .nav-links-container
            i.fas.fa-times.close-menu-btn
            a(href="/") inicio
            a(href="/historia") Nuestra Historia
            .dropdown
              a(href="javascript:void(0)") Institucional #[i.fas.fa-chevron-down]
              .dropdown-container(style="height: auto;")
                a(href="/institucional/especialidades") Especialidades
                a(href="/institucional/becas") Becas
                a(href="/institucional/proyectos-escolares") Proyectos escolares
                a(href="/institucional/vision") Vision
                a(href="/institucional/equipo-docente") Equipo docente
                a(href="/institucional/regimen-evaluacion") Regimen de Evaluacion
            .dropdown
              a(href="javascript:void(0)") Talleres #[i.fas.fa-chevron-down]
              .dropdown-container(style="height: auto;")
               a(href="/talleres/aleman") Aleman
               a(href="/talleres/club-exploradores") Club de Exploradores
            a(href="http://et24de17-caba.edu.ar/moodle30/" target="_blank") Plataforma Virtual
            a(href="bi") Bachillerato Internacional
        a.show-menu-btn(href="javascript:void(0)") #[i.fas.fa-bars]
    block contenido
    
    
