*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 100%;
}
body{
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: #dff9fb;
  font-family: "Monstserrat", sans-serif;
}
/*  NAVEGACION DE LA PAGINA ----------------------------------------------------------------------------------------------*/

header{
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 1.25rem;
  align-items: center;
  width: 100%;
  height: 4.0625rem;
  border-bottom: 1px solid #e1e1e1;
  z-index: 10;
}

/*  LOGO DE LA NAVEGACION -------------------------------------------------------------*/
header .logo{
  height: 50px;
}
header .logo img{
  height: 50px;
  width: auto;
  padding-right: 0.625rem;
  float: left;
  filter: grayscale(50%);
  transition: .3s;
  z-index: 10;
}
header a:hover img{
  filter: grayscale(0);
}

/* FIN ----------------------------------------------------------------------------------------------*/

/*  ESTILO LINKS DE NAVEGACION ----------------------------------------------------------------------------------------------*/

.main-navigation{
  height: 100%;
}
.nav-link{
  text-decoration: none;
  color: #b1b1b1;
  font-size: 1rem;
  display: inline-block;
  transition: .3s;
  background: transparent;
  cursor: pointer;
}
.main-navigation > .nav-link, .btns-container > .nav-link, .dropdown > .nav-link{
  font-size: .9rem;
  max-height: 4.0625rem;
  padding:  1.54rem 1.25rem;
  height: 100%;
}
.nav-link:hover{
  color: #3498db;
}
.nav-link.active{
  color: #3498db;
  border-bottom: 4px solid #3498db;
}

/*  ESTILO CONTAINER DESPLEGABLE ------------------------------------------------------------------------*/

.dropdown{
  display: inline-block;
  position: relative;
}
.dropdown .dropdown-content{
  position: absolute;
  top: 100%;
  left: 0;
  height: auto;
  min-width: 300px;
  padding: 0.9375rem 0;
  pointer-events: none;
}
.dropdown .dropdown-content a{
  display: block;
  padding: 5px 1.875rem;
  max-height: 3.125rem;
  margin-bottom: 5px;
}
.dropdown .dropdown-content a:last-child{
  margin-bottom: 0;
}
.dropdown-content.show .dropdown-bg{
  transform: scaleY(1);
}
.dropdown-content.show .dropdown-nav-links{
  transform: translateY(0);
  opacity: 1;
  transition-delay: .5s;
  pointer-events: all;
}
.dropdown-bg{
  position: absolute;
  top: 0;
  left: -70vw;
  right: -60vw;
  bottom: 0;
  background: #fff;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform .6s cubic-bezier(.075,.82,.165,1);
  transition-delay: .2s;
}
.dropdown-nav-links{
  pointer-events: none;
  z-index: 5;
  transform: translateY(-1.33333rem);
  opacity: 0;
  transition: transform .6s cubic-bezier(.075,.82,.165,1),opacity .6s cubic-bezier(.075,.82,.165,1);
  transition-delay: 0s;
}

/*  FIN ESTILO CONTAINER --------------------------------------------------------------------------*/


/*  ESTILO LINKS DE NAVEGACION ----------------------------------------------------------------------------------------------*/

/* .contact-btn{
  color: #fff;
  margin-right: 5px;
  border-radius: 50%;
  background: #3498db;
  cursor: pointer;
  font-size: 1.2rem;
  height: 2rem;
  width: 2rem;
  text-align: center;
  line-height: 2rem;
  display: inline-block;
} */

.show-menu-btn{
  display: none;
}

/* FIN DE LA NAVEGACION DE LA PAGINA ----------------------------------------------------------------------------------------------*/

/* NAVEGACION RESPONSIVA DE LA PAGINA ----------------------------------------------------------------------------------------------*/

.res-navigation{
  position: fixed;
  top: 4.0625rem;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  transition: visibility 0s .8s;
  overflow-y: hidden;
}
.nav-main{
  padding: 1.33rem 0 3rem;
  position: relative;
}
.nav-main::before{
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform: scaleY(0);
  transform-origin: center top;
  transition: transform .6s cubic-bezier(.075,.82,.165,1) .2s;
}
.nav-main .nav-c{
  padding: 0 3.5rem;
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity .6s cubic-bezier(.075,.82,.165,1),transform .6s cubic-bezier(.075,.82,.165,1);
}

.res-navigation .nav-content-layout{
  width: 40%;
  min-width: 320px;
}

.res-navigation .nav-content-layout a{
  display: block;
  font-size: 1.2rem;
  padding: 0.325rem;
}
.res-navigation a.sub-nav-p{
  border-bottom: 1px solid #e1e1e1;
}
.res-navigation .sub-nav-links{
  padding: .5em 0 .5em 1.5em;
}

/* FIN DE LA NAVEGACION RESPONSIVA DE LA PAGINA ----------------------------------------------------------------------------------------------*/

/* ANIMACION DE CARGA ----------------------------------------------------------------------------------------------*/

.preload{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #f1f1f1;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.preload .text-animation{
  font-size: 2.5vw;
  color: #3498db;
  line-height: 6vw;
}
.hide{
  background: #f1f1f1;
  overflow-y: hidden;
}
.hide span.text{
  font-family: "Bebas Neue", sans-serif;
  letter-spacing: .4vw;
  display: inline-block;
  transform: translateY(100%);
}

/* FIN DE LA ANIMACION DE CARGA ----------------------------------------------------------------------------------------------*/

/* TRANSICION DE PAGINA ----------------------------------------------------------------------------------------------*/

.page-transition{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}
.page-transition img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -60%) rotate(-45deg);
  opacity: 0;
  width: 14.5vw;
  max-width: 140px;
  height: auto;
  z-index: 20;
}
ul.rows-c{
  width: 100%;
  height: 100%;
  list-style: none;
}
ul.rows-c li{
  display: block;
  transform: scaleX(0);
  background: #fff;
  height: 20%;
}

/* FIN DE LA TRANSICION DE PAGINA ----------------------------------------------------------------------------------------------*/

main{
  width: 100%;
  height: 100%;
}
.lnd-img{
  background: rgb(233, 233, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/gabinete.jpg');
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.block{
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  padding: 4.0625rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row{
  width: 100%;
  max-width: 980px;
}
.content-desc{
  text-align: center;
  padding-bottom: 2.5rem;
}
.content-desc p{
  padding: 0 3rem;
}
.cards-container{
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.card{
  min-height: 250px;
  max-width: 400px;
  max-height: 300px;
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  border: 1px solid #d1d1d1;
  cursor: pointer;
  margin-bottom: 2rem;
  margin: .5rem;
}
.card-img{
  position: relative;
}
.card-img img{
  width: 100%;
  /* filter: blur(2px); */
  height: auto;
  object-fit: cover;
}
.card-img h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Bebas Neue", sans-serif;
  font-size: 3rem;
  letter-spacing: 0.4rem;
  color: #fff;
  z-index: 5;
}
.card-c{
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: .6s cubic-bezier(.075,.82,.165,1) .2s;
  padding: 1rem;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: default;
  z-index: 7;
}
.card-c button{
  outline: none;
  border: 1px solid #d1d1d1;
  background: transparent;
  padding: .5rem 7rem;
  cursor: pointer;
}
.title{
  text-align: center;
  padding: 0 0 1rem 0;
}
.card:hover .card-c{
  transform: translateX(0%);
}

/* CONTENIDO VISION ---------------------------------------------------------------------------------------*/

.obj-box{
  width: 350px;
  height: 350px;
  text-align: center;
  overflow: hidden;
  position: relative;
  margin: 1rem;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 26px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 26px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 26px 2px rgba(0,0,0,0.75);
}
.obj-box:hover h1{
  color: #4848EF;
}
.obj-box:hover:before{
  background-color: rgba(9, 197, 216, 0.7);
}
.obj-box:before{
  content:'';
  position: absolute;
  background-color: rgba(9, 197, 216, 0.5);
  transition: 0.5s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.obj-box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
}
.obj-tit{
  min-width: 80%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.obj-tit h1{
  color: #f1f1f1;
  transition: 0.5s;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.2rem;
}
