@media screen and (max-width: 900px){
  html{
    font-size: 14px;
  }
}
@media screen and (max-width: 830px){
  html.res-navigation-open body{
    overflow-y: hidden;
  }
  html.res-navigation-open .res-navigation{
    visibility: visible;
    overflow-y: auto;
  }
  html.res-navigation-open .nav-layer{
    opacity: .4;
    pointer-events: all;
  }
  html.res-navigation-open .nav-main{
    pointer-events: all;
  }
  html.res-navigation-open .nav-main::before{
    transform: scaleY(1);
    transition-delay: .2s;
  }
  html.res-navigation-open .nav-main .nav-c{
    opacity: 1;
    transform: translateY(0);
    transition-delay: .4s;
    pointer-events: all;
  }
  .show-menu-btn{
    display: inline-block;
  }
  .main-navigation{
    display: none;
  }
  .res-navigation{
    visibility: visible;
  }
  .preload .text-animation{
    font-size: 4vw;
    line-height: 9vw;
  }
  .contact-content{
    width: 100%;
  }
}
@media screen and (max-width: 540px) {
  html{
    font-size: 16px;
  }
  .res-navigation .nav-content-layout{
    width: 100%;
    min-width: auto;
  }
  .slider-content h1{
    font-size: 12vw;
  }
  .block .content-desc p{
    text-align: justify;
  }
}
