@media screen and (max-width: 860px){
  .show-menu-btn{
    display: block;
  }
  .nav-links{
    position: fixed;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: #222;
    top: 0;
    right: -100%;
    transition: .3s linear;
  }
  .nav-links-container{
    padding-top: 80px;
    width: 100%;
    height: 100%;
  }
  .nav-links i.fa-times{
    display: block;
  }
  .nav-links a, .nav-links .dropdown{
    display: block;
  }
  .dropdown-container{
    top: 0;
    display: block;
    position: relative;
    min-width: 100%;
    height: 0;
  }
  .nav-links a{
    text-align: center;
    width: 100%;
  }
  .news-row{
    flex-direction: column;
    float: left;
  }
  .news{
    height: 300px;
    width: 340px;
  }
  .header-container{
    max-height: 400px;
  }
  .header-box{
    width: 100%;
    height: 400px;
  }
  .header-title{
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
  }
  .header-img-c{
    position: absolute;
    background-image: url('../../public/images/escuela.jpg');
  }
  .header-img-c img{
    overflow: hidden;
  }
  .container-content{
    padding: 60px 60px;
  }
  .container-content::after{
    display: none;
  }
}
@media screen and (max-width: 750px){
  .navigation{
    height: 60px;
  }
  .nav-links a{
    height: 60px;
    padding: 23px 15px;
    font-size: 0.875em;
    line-height: 14px;
  }
  .show-menu-btn{
    font-size: 1.5em;
  }
  .banner .main-title{
    width: 100%;
    text-align: center;
  }
  .banner .title-desc{
    display: none;
  }
  .container-content{
    padding: 60px 30px;
  }
}
