@media screen and (max-width: 900px){
  html{
    font-size: 14px;
  }
}
@media screen and (max-width: 780px){
  .res-navigation.show{
    visibility: visible;
    overflow-y: auto;
  }
  .res-navigation.show .nav-main::before{
    transform: scaleY(1);
    transition-delay: .2s;
  }
  .res-navigation.show .nav-main .nav-c{
    opacity: 1;
    transform: translateY(0);
    transition-delay: .4s;
  }
  .show-menu-btn{
    display: inline-block;
  }
  .main-navigation{
    display: none;
  }
  .res-navigation{
    visibility: visible;
  }
  .preload .text-animation{
    font-size: 4vw;
    line-height: 9vw;
  }
}
@media screen and (max-width: 540px) {
  html{
    font-size: 16px;
  }
  .res-navigation .nav-content-layout{
    width: 100%;
    min-width: auto;
  }
}
