extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="messages")
      #mng-op.container-content.g-cont
        .cards-container.esp-layout
          .container-content.ttl-width
            h1.p-title Vista de Mensajes
          include ../partials/gestionNavigation.jade
