extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="users")
      #mng-op.container-content.g-cont
        .cards-container.esp-layout
          .container-content.ttl-width
            h1.p-title Gestión de Usuarios
          include ../partials/gestionNavigation.jade
