extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="becas")
    .header-container
      .header-box.header-title
        .box-desc
          h1 Becas
          button.shw-btn Ver Más #[i.fas.fa-chevron-down]
      .header-box.header-img-c
    .container
      .container-content
        h2 Beca Escolar
        p El Régimen de Becas Estudiantiles, creado de acuerdo a la Ley N º 2917/08, tiene por finalidad garantizar el acceso, permanencia, reingreso y promoción de alumnos de Escuelas de Nivel Medio/Secundario de Gestión Estatal del Gobierno de la Ciudad que se encuentren en situación de vulnerabilidad socioeconómica, y se enmarca en las acciones que deben implementarse para el efectivo cumplimiento de la obligatoriedad del Nivel Medio.
        p Está destinado a los alumnos y las alumnas regulares de las escuelas de Nivel Medio de Gestión Estatal y de los Bachilleratos Populares dependientes del Ministerio de Educación del Gobierno de la Ciudad de Buenos Aires en cualquiera de sus modalidades: Común, Artística, Técnica, Normales, de Adultos y Adolescentes, y orientaciones.
        p Las becas se otorgan por cada Ciclo Lectivo y constituyen un beneficio personal e intransferible del alumno beneficiario. El beneficio es renovable anualmente cuando el beneficiario acredite fehacientemente que se mantienen las condiciones que determinaron su otorgamiento.
        p Se otorga un monto anual que corresponde al salario mínimo, vital y móvil que se paga en dos cuotas a lo largo del año.
        p Para solicitar la beca ingrese a: #[a(href="https://www.buenosaires.gob.ar/educacion/estudiantes/becas" target="_blank") aquí]
        
        h2 Beca Alimentaria
        p Las Becas Alimentarias son un beneficio al que pueden acceder todos los alumnos de establecimientos educativos de gestión estatal pertenecientes a las diferentes áreas educativas: inicial, primaria, especial, superior, media, artística, adultos y otros programas del sistema educativo.
        p Para hacer la solicitud de beca alimentaria en línea se debe #[a(href="http://sistemas1.buenosaires.edu.ar/wsad/becas_web.php" target="_blank") ingresar aquí]. Una vez completado el formulario, la solicitud se validará en forma remota. Si hubiera cualquier inconveniente, se enviará un correo electrónico con un link para poder editarla y subsanar el error.
        p En caso de que el o la responsable no pueda hacerlo en línea o prefiera el acompañamiento de personal capacitado, va a poder pedir un turno para ir a cualquier sede comunal disponible haciendo #[a(href="http://sistemas1.buenosaires.edu.ar/wsad/becas_web.php" target="_blank") clic aquí] o bien llamando al 6076-6650.
        p El beneficio de la Beca Alimentaria es anual, por lo que las familias deberán volver a solicitarla año a año, presentando cada vez junto con los formularios de solicitud toda la documentación requerida.
        p Para acompañar a la Comisión de Becas, la Subgerencia de Becas de la Dirección General de Servicios a las Escuelas cuenta con un plantel de Trabajadoras Sociales que brindan asesoramiento e intervienen en los casos de mayor complejidad.
