extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="especialidades")
    .header-container
      .header-box.header-title
        .box-desc
          h1 Especialidades
          button.shw-btn Ver Más #[i.fas.fa-chevron-down]
      .header-box.header-img-c
    .container
      .container-content
        h2 Informática Profesional y Personal en Programación
        h3 Objetivos:
        ul
          li Diferenciar límites y alcances del uso de la Computación en las áreas científicas, lúdicas y contables.
          li Aplicar la formación teórica recibida en la generación de software específico aplicando sus conocimientos en todas las etapas de la construcción de un sistema informático: análisis de requerimientos, diseño del sistema, verificación de los algoritmos, codificación en un lenguaje de programación, integración, testeo e implementación del sistema completo y mantenimiento del sistema funcionando.
          li Interactuar con la realidad y contribuir eficazmente en su transformación aplicando ideas y acciones creativas.
          li Evaluar, seleccionar, implementar y administrar sistemas predefinidos, comercializados como &quot;paquetes de software&quot;, a fin de brindar soluciones a los diferentes problemas con que se enfrentan las empresas.
          li Seleccionar los soportes físicos (hardware) más adecuados para la correcta implementación de los sistemas informáticos.
          li Desarrollar una actitud crítica frente a los conceptos tradicionales para motivar la necesidad de cambios y de adaptarse a ellos.
          li Utilizar criterios adecuados en la resolución de situaciones problemáticas.
          li Valorar el lenguaje técnico como modo de expresión general.
          li Crear hábitos de trabajo ordenado.
          li Valorar el cuidado de los materiales, instrumentos y espacios de trabajo.
          li Manifestar actitudes solidarias, de participación responsable, de respeto por el pensamiento ajeno y de disposición para el acuerdo y aceptación de las normas dentro de la institución.

        h2 Gestión y Administración de las Organizaciones
        h3 Objetivos:
        ul
          li Comprender la necesidad de un aporte efectivo, teórico y práctico, para la organización de la empresa en el aspecto legal-económico y en lo referido a las relaciones humanas.
          li Conocer, razonar y aplicar las normas contables vigentes.
          li Aplicar los conocimientos contables, matemáticos, financieros y el uso de herramientas informáticas en procesos administrativos simples.
          li Desarrollar la capacidad de análisis que permita la generación y evaluación de alternativas, la toma de decisiones y aplicación de criterios para la resolución de situaciones problemáticas.
          li Valorar el lenguaje técnico como modo de expresión general.
          li Crear hábitos de trabajo ordenado.
          li Valorar el cuidado de los materiales, instrumentos y espacios de trabajo.
          li Comprender la lógica institucional y las técnicas de gestión encuadradas en el marco jurídico-normativo.
          li Manifestar actitudes solidarias, de participación responsable, de respeto por el pensamiento ajeno y de disposición para el trabajo en equipo y para el acuerdo y aceptación de las normas dentro de la institución.
