extends ../layout.jade
block contenido
  .header-container
    h1 Regimen de Evaluación
  .container
    .container-content
      p En el marco de la Resolución 11.684/11, el Ministerio de Educación de la Ciudad aprobó modificaciones a la “extensión formal” del Ciclo Lectivo implementando un nuevo régimen de evaluación que va de marzo a marzo de cada año.
      p La mencionada resolución ministerial establece que a partir de la finalización de las clases regulares, y hasta la finalización del ciclo lectivo (en marzo del próximo año), y respetando el receso vacacional, el alumno DEBE CONTINUAR ASISTIENDO A LAS CLASES DE LAS ASIGNATURAS QUE NO HA APROBADO durante la cursada, y lo hará hasta el momento en que el docente considere que alcanzó los aprendizajes priorizados.  La nota mínima para la aprobación será de 6 (seis) puntos, pudiendo el alumno   promocionar el año con dos o menos asignaturas no aprobadas (previas).
      p LOS ALUMNOS PUEDEN APROBAR LA MATERIA A DICIEMBRE, POR LO CUAL NO DEBEN ASISTIR EN FEBRERO –MARZO A CLASES DE APOYO Y EVALUACIÓN CONTINUA.
      p LOS ALUMNOS QUE NO ACREDITEN LOS APRENDIZAJES PRIORIZADOS Y/O NO HUBIERAN COMPLETADO LA TOTALIDAD DEL PROCESO PREVIAMENTE DISEÑADO, RETOMARÁN EL TRABAJO EN EL MES DE FEBRERO, CON LA MISMA MODALIDAD DE CURSADA.
      p EN SÍNTESIS, SI SU HIJO NO HA APROBADO ALGUNAS ASIGNATURAS A DICIEMBRE, ES OBLIGATORIO QUE SIGA ASISTIENDO EN DICIEMBRE EN EL HORARIO DE DICHAS ASIGNATURAS HASTA FINALIZAR EL PERÍODO ESCOLAR O HASTA QUE EL DOCENTE CONSIDERA QUE HA APROBADO.
