extends ../layout.jade
block contenido
  #swup.transition-fade
    .header-container
      .header-box.header-title
        .box-desc
          h1 Visión
          button.shw-btn Ver Más #[i.fas.fa-chevron-down]
      .header-box.header-img-c
    .container
      .container-content
        h2 Nuestra visión
        p Es sabido que la finalidad de la escuela es favorecer el crecimiento y la maduración del alumno/a en todas sus dimensiones. Que no se reduce su función a la mera transmisión de saberes. La escuela cultiva facultades, desarrolla capacidades, educa actitudes, hace referencia a unos valores, introduce en el patrimonio cultural que nos ha sido dado, prepara para la inserción en la sociedad presente, transmite una interpretación de la historia, una manera de entender la vida, una orientación para el futuro. En ese marco, el Ideario Educativo de nuestra institución ha sido consensuado por todos sus miembros y expresa nuestra convicción de que:
        ul
          li Educamos para que los alumnos sean  ciudadanos comprometidos con su entorno, creativos, potenciando lo individual con valores y respeto.
          li Formamos para que los alumnos y alumnas pongan sus talentos al servicio de la comunidad, animando a la comunicación y participación, a la colaboración y a la solidaridad.
          li Preparamos a nuestros alumnos y alumnas para que desarrollen una conciencia crítica frente a las situaciones que ponen en riesgo los derechos y las condiciones de vida de sus semejantes.
          li Entendemos la educación como una empresa común de profesores, padres y alumnos.
          li Aplicamos una pedagogía para que los alumnos y alumnas sean agentes activos y creativos de su propia formación, poniendo especial énfasis en las actitudes y habilidades, en los hábitos y sobre todo en los conocimientos y valores humanos.
          li Fomentamos el amor a la patria, el sentido de libertad para la democracia y la responsabilidad social.
        p Queremos que los alumnos y alumnas desarrollen las actitudes necesarias para ser adultos responsables y futuros profesionales que ejerciten su actividad con profundo sentido ético y rigor académico.
        p Somos conscientes del momento histórico de profunda transformación que vivimos y del profesionalismo que exige hoy la formación de las nuevas generaciones, por lo que nuestro compromiso como docentes nos impone la constante capacitación y actualización.
