extends ../layout.jade
block contenido
  .header-container
    .header-box.header-title
      .box-desc
        h1 Aleman
        button.shw-btn Ver Más #[i.fas.fa-chevron-down]
    .header-box.header-img-c
  .container
    .container-content
      h2 Aleman pa
