extends ../layout.jade
block contenido
  main(data-barba="container" data-barba-namespace="becas")
    .block-esp
      .img-especialidad
        img(src="../public/images/aula.jpg", alt="administración de empresas")
      .especialidad
        .especialidad-content
          h1 Gestión y Administración de las Organizaciones
          p
          span Consultar
          h2 Objetivos:
          ul
            li Comprender la necesidad de un aporte efectivo, teórico y práctico, para la organización de la empresa en el aspecto legal-económico y en lo referido a las relaciones humanas.
            li Conocer, razonar y aplicar las normas contables vigentes.
            li Aplicar los conocimientos contables, matemáticos, financieros y el uso de herramientas informáticas en procesos administrativos simples.
            li Desarrollar la capacidad de análisis que permita la generación y evaluación de alternativas, la toma de decisiones y aplicación de criterios para la resolución de situaciones problemáticas.
            li Valorar el lenguaje técnico como modo de expresión general.
            li Crear hábitos de trabajo ordenado.
            li Valorar el cuidado de los materiales, instrumentos y espacios de trabajo.
            li Comprender la lógica institucional y las técnicas de gestión encuadradas en el marco jurídico-normativo.
            li Manifestar actitudes solidarias, de participación responsable, de respeto por el pensamiento ajeno y de disposición para el trabajo en equipo y para el acuerdo y aceptación de las normas dentro de la institución.
